spring:
  datasource:
    url: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}
    username: ${PGUSER}
    password: ${PGPASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
  mail:
    host: ${MAIL_HOST:}
    port: ${MAIL_PORT:}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: ${MAIL_SMTP_AUTH:false}
          starttls:
            enable: ${MAIL_SMTP_STARTTLS:false}

server:
  port: ${PORT:8080}

app:
  mail:
    enabled: ${APP_MAIL_ENABLED:false}
    from: ${APP_MAIL_FROM:no-reply@bancazapp.local}
    default-recipient: ${APP_MAIL_DEFAULT_RECIPIENT:}
  nota-conferencia:
      nome-fantasia: "Banca Zapp"
      razao-social: "Banca Zapp LTDA"
      cnpj: "00.000.000/0000-00"
      endereco: "Endereco nao informado"
      telefone: "(00) 00000-0000"
  security:
    jwt:
      issuer: banca-zapp
      expiration-minutes: 120
